# Sorting Lists of Lists

Sort the following list of lists by the grades in descending order. 

The desired output should be: <b>[['Kaylee', 99], ['Simon', 99], ['Zoe', 85], ['Malcolm', 80], ['Wash', 79]]</b>
    
### Hints: https://wiki.python.org/moin/HowTo/Sorting

In [1]:
grades = [["Malcolm", 80], ["Zoe", 85], ["Kaylee", 99], ["Simon", 99], ["Wash", 79]]

### YOUR CODE HERE

In [1]:
import pandas as pd

In [2]:
grades = [["Malcolm", 80], ["Zoe", 85], ["Kaylee", 99], ["Simon", 99], ["Wash", 79]]

In [3]:
 grades=[{"Name":"Malcome","Grade":80},
        {"Name":"Zoe","Grade":85},
        {"Name":"Kaylee","Grade":99},
        {"Name":"Simon","Grade":99},
        {"Name":"Wash","Grade":79}]

In [8]:
grades_df= pd.DataFrame(grades)
grades_df

      Name  Grade
0  Malcome     80
1      Zoe     85
2   Kaylee     99
3    Simon     99
4     Wash     79

In [11]:
sort = grades_df.sort_values('Grade', ascending = False)
sort

      Name  Grade
2   Kaylee     99
3    Simon     99
1      Zoe     85
0  Malcome     80
4     Wash     79